#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "copyparty"
name = "Copyparty"
description.en = "Portable file server with accelerated resumable uploads"
description.fr = "Serveur de fichiers portable avec téléchargement accéléré et résumable"

version = "1.19.23~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "MIT"
demo = "https://a.ocv.me/pub/demo/"
admindoc = "https://github.com/9001/copyparty?tab=readme-ov-file#complete-examples"
code = "https://github.com/9001/copyparty"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

[resources]

    [resources.sources]

    [resources.sources.main]
    in_subdir = false
    extract = false
    rename ="copyparty-sfx.py"
    url = "https://github.com/9001/copyparty/releases/download/v1.19.23/copyparty-sfx.py"
    sha256 = "399e957a731201f6a88a11b732fa2864a0d4de9eac1de4034d9fb9343ab6a412"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset = "copyparty-sfx.py"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 3923

    [resources.apt]
    packages = "python3-dev, python3-venv, python3, python3-pip, python3-pil, ffmpeg"
