# make sure to `chown -R __APP__:__APP__ __INSTALL_DIR__/config` after your editions
# docs: https://github.com/9001/copyparty?tab=readme-ov-file#server-config

[global]
  z, qr  # and zeroconf and qrcode (you can comma-separate arguments)

# create users:
[accounts]
  __ADMIN__: __PASSWORD__   # username: password

# create volumes:
[/]                 # create a volume at "/" (the webroot), which will
  __DATA_DIR__/     # share the contents of "__DATA_DIR__"
  accs:
    r: *            # everyone gets read-access, but
    A: __ADMIN__    # the user "__ADMIN__" gets all permissions read,write,move,delete,admin,dotfiless